@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply dark:bg-dark-bg bg-light-bg transition-colors duration-300;
  }

  p,
  h1,
  h2,
  code,
  li,
  h3,
  button {
    @apply dark:text-white text-black;
  }

  button {
    @apply bg-light-bg dark:bg-dark-bg px-4 py-2 rounded-md;
  }

  .code-editor-container {
    @apply h-auto lg:h-[372px];

    width: fit-content;
    background: black;
    border-radius: 16px;
    fontsize: 16px;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: unset;
  padding-left: 32px;
}
h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 2.2em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
button:disabled {
  cursor: not-allowed;
}

input {
  outline: none;
  border-radius: 4px;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.token,
.operator {
  background: unset !important;
}
